/* Shared styles */

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background: #FAFAFA;
}

// Background colour swatches

.bg_green {
	background: $green;
}

.bg_blue {
	background: $blue;
}

.bg_pink {
	background: $pink;
}

.bg_orange {
	background: $orange;
}

.bg_white{
	background: $white;
}

// Header
body {
  .header {
    background-color: lighten($navy, 20%);
  }

  &.green .header {
  	background-color: $green;
  }

  &.blue .header {
  	background-color: $blue;
  }

  &.pink .header {
  	background-color: $pink;
  }

  &.orange .header {
  	background-color: $orange;
  }
}

// Spacers
.m1 { margin: $gap; }
.m2 { margin: $gap*2; }
.v1 { padding: ($gap) 0; }
.v2 { padding: ($gap*2) 0; }

// Alignment
.rhs { float: right; }

// Layout
.list-item {
  width: 200px;
}
.list-item>*{
  margin: $gap;
  padding: $gap;
}

.fab {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: $gap;
}

paper-fab.blue {
  --paper-fab-background: var(--paper-light-blue-500);
  --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
}

// Editor styles
.swatch {
	width: $gap;
	height: $gap;
	display: inline-block;
	margin-right: $gap/2;
}

// Sortable styles
.sortable-chosen {
  opacity: 0.5;
}

.sortable-chosen > paper-material {
  border: 2px dashed $grey;
}

.drag-handle {
  cursor: move;
  cursor: -webkit-grabbing;
  color: $grey;
}

/* Viewer styles only */

body#viewer {
  // Header
  &.green .header {
  	@include backgroundSizes($header_width, $header_height, $png_header_green, 1, $green);
  }

  &.blue .header {
  	@include backgroundSizes($header_width, $header_height, $png_header_blue, 1, $blue);
  }

  &.pink .header {
  	@include backgroundSizes($header_width, $header_height, $png_header_pink, 1, $pink);
  }

  &.orange .header {
  	@include backgroundSizes($header_width, $header_height, $png_header_orange, 1, $orange);
  }

  // Footer
  .footer {
    background-color: lighten($navy, 20%);
  }

  &.green .footer {
  	@include backgroundSizes($footer_width, $footer_height, $png_footer_green, 1, $green);
  }

  &.blue .footer {
  	@include backgroundSizes($footer_width, $footer_height, $png_footer_blue, 1, $blue);
  }

  &.pink .footer {
  	@include backgroundSizes($footer_width, $footer_height, $png_footer_pink, 1, $pink);
  }

  &.orange .footer {
  	@include backgroundSizes($footer_width, $footer_height, $png_footer_orange, 1, $orange);
  }

  // iDEA Badge Logo
  & #idea-badge {
    @include backgroundSizes($png_badge_width, $png_badge_height, $png_badge, 2);
  }

  &.green #idea-badge {
    @include backgroundSizes($png_badge_width, $png_badge_height, $png_badge_green, 2);
  }

  &.blue #idea-badge {
  	@include backgroundSizes($png_badge_width, $png_badge_height, $png_badge_blue, 2);
  }

  &.pink #idea-badge {
  	@include backgroundSizes($png_badge_width, $png_badge_height, $png_badge_pink, 2);
  }

  &.orange #idea-badge {
  	@include backgroundSizes($png_badge_width, $png_badge_height, $png_badge_orange, 2);
  }

  // viewer body children
  #idea-badge{
    position: absolute;
		right: $png_badge_width/4;
		top: $gap*2;
	}

  #title {
    position: absolute;
    top: 0;
    left: $png_garter_width;
    height: $png_garter_height;
    display: table;
    padding: $gap;
    box-sizing: border-box;
  }

  #title h1 {
    color: $white;
    vertical-align: middle;
    display: table-cell;
  }

  #garter {
    @include backgroundSizes($png_garter_width, $png_garter_height, $png_garter, 3);
    // @include backgroundX($png_garter);
    // background-size: $png_garter_width $png_garter_height;
    //
    // @include media-2x() {
    //   @include backgroundX($png_garter, 2);
    //   background-size: $png_garter_width $png_garter_height;
    // }
    // @include media-3x() {
    //   @include backgroundX($png_garter, 3);
    //   background-size: $png_garter_width $png_garter_height;
    // }
  }

  // viewer layout
  .header,
  .footer {
    width: 100%;
  }

	.footer {
		height: $footer_height;
		position: fixed;
		bottom: 0;
		pointer-events: none;
	}

  #section {
    text-align: center;
  }

  #progress {
    margin: 0 auto;
  }

  #components {
    padding-top: $png_garter_height + $gap;
		// padding-bottom: $footer_height + $gap;
		text-align: center;
	}

  .buttonWrapper{
    padding-top: ($gap);
    padding-bottom: $footer_height + ($gap*5);
    text-align: center;
  }

  ol.options {
    cursor: move;
    cursor: -webkit-grabbing;

    list-style-position: outside;
    margin: $gap;
  }

  ol.options li {
    // display: block;
    margin: 2px $gap;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid $grey;
    color: $grey;
  }

    ol.options li p {
      color: $black;
      margin: 0;
      padding: $gap;
    }

  ol.options .sortable-chosen {
    opacity: 0.5;
  }

  ol.options .sortable-chosen {
    border: 2px dashed $grey;
  }

  ol.options .drag-item {
    color: $grey;
    height: 100%;
  }

  // Polymer element styles with custom theme color
  @each $theme, $map in $themes {
    &.#{$theme} {
      paper-button {
        color: white;
        background-color: map-get($map, color);
      }
    }
  }

  // other viewer styles
	.wrong {
		border: 1px $error solid;
	}

  .hint_error {
      color: #D8000C;
      background-color: #FFBABA;
  }

}
