/* Shared styles */

body {
  font-family: $font, 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background: $coolgrey_1;
}

// Background colour swatches

.bg_green {
	background: $green;
}

.bg_blue {
	background: $blue;
}

.bg_pink {
	background: $pink;
}

.bg_orange {
	background: $orange;
}

.bg_navy {
	background: $navy;
}

.bg_white{
	background: $white;
}

// Colours

.fg_pink {
  color: $pink;
}

.fg_blue {
	color: $blue;
}

.fg_green {
	color: $green;
}

// Polymer paper-menu-button input override
.paper-input .input-content.paper-input-container input {
	font-family: $font;
}

// Header
body {
  .header {
    background-color: $white;
    color: $black;
  }

  &.green .header {
  	background-color: $green;
    color: $white;
  }

  &.blue .header {
  	background-color: $blue;
    color: $white;
  }

  &.pink .header {
  	background-color: $pink;
    color: $white;
  }

  &.orange .header {
  	background-color: $orange;
    color: $white;
  }

  &.navy .header {
  	background-color: $navy;
    color: $white;
  }
}

// Links
a {
  color: $navy;
}

a:hover {
  color: $blue;
}

// Spacers
.m1 { margin: $gap; }
.m2 { margin: $gap*2; }
.v1 { padding: ($gap) 0; }
.v2 { padding: ($gap*2) 0; }

// Alignment
.fr { float: right; }

// Formatting
.center { text-align: center; }

// Styling
.button {
  cursor: pointer;
}

// Branding
.idea-logo {
  @include backgroundSizesSVG($logo_width, $logo_height, $svg_logo);
}

// Polymer styles
paper-tooltip {
  max-width: 280px;
}

.fullbleed {
  margin: 0;
  padding: 0;
}

// Foundation 5 'expanded row' fluid row width
.row.expanded {
  max-width: 100%;
  width: 100%;
}

/* Editor styles only */
body#editor {
  nav {
    position: fixed;
    width: 100%;
    height: $nav_height;
    background-color: $navy_muted;
    color: $white;
    top: 0;
    z-index: 1;
  }

  .gutter {
    height: $nav_height;
  }

  .gutter-gap {
    height: $nav_height + $gap;
  }

  .col-l, .col-r, .col-m {
    float: left;
    height: $nav_height;
  }

  .col-l, .col-r {
    width: 30%;
  }

  .col-m {
    width: 40%;
    text-align: center;
  }

  .col-r {
    text-align: right;
  }

  nav a, nav span {
    display: inline-block;
    line-height: $nav_height;
    vertical-align: middle;
    padding: 0 $gap;
    text-decoration: none;
    color: $blue;
  }

  // List

  .list-item > * {
    margin: $gap $gap*2;
    padding: $gap;
    position: relative;
  }

  // Grid

  .grid-item > * {
    width: $list_item_width;
    height: $list_item_height;
    margin: $gap;
    padding: $gap;
    position: relative;
  }

  .grid-item .btn {
    position: absolute;
    left: 0;
    bottom: $gap/2;
  }

  .grid-item .fab {
    position: absolute;
    right: $gap;
    bottom: $gap;
    text-align: right;
  }

  .grid-item a > iron-icon {
    margin-right: $gap;
  }

  .grid-item .title {
    margin: $gap/2;
    @include truncate-multi(18px, 3);
  }

  // Editor

  .side-drawer {
    position: fixed;
    top: $nav_height;
    left: 0;
    width: $sidebar_width;
    height: calc(100% - #{$nav_height});
    background: $coolgrey_4;
    overflow: auto;
  }

  .side-drawer .title {
    text-align: center;
    color: $coolgrey_3;
    font-weight: normal;
  }

  .side-drawer ul {
    list-style: none;
    margin: 0 $gap;
    padding: 0;
  }

  .side-drawer ul li span {
    margin-left: $gap/2;
  }

  .side-drawer ul li a {
    display: block;
    border: 1px solid $coolgrey_3;
    padding: $gap;
    margin-bottom: 4px;
    color: $white;
    font-weight: normal;
  }

  .side-drawer ul li a:hover {
    background-color: $coolgrey_3;
  }

  .editor {
    padding: 0;
    margin: 0;
    margin-left: $sidebar_width + $gap*2;
    margin-right: $gap*2;
  }

  // Foundation 5 Grid SASS
  @media #{$small-only} {
    .side-drawer {
      width: $sidebar_collapsed_width;
    }
    .side-drawer li span {
      display: none;
    }
    .editor {
      margin-left: $sidebar_collapsed_width + $gap*2;
    }
    .side-drawer .title {
      font-size: 14px;
    }
  }

  .editor > .titlebar h1,
  .component > .titlebar h3 {
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    padding: 0 $gap;
    line-height: $titlebar_height;
    vertical-align: middle;
  }

  .editor > .titlebar iron-icon {
    margin-right: $gap;
  }

  .editor > .container,
  .component > .container {
    padding-bottom: $gap*2;
  }

  .component {
    background: $white;
    margin: 0;
    padding: 0;
  }

  /* quiz-elements titlebar */
  .component > .titlebar {
    display: block;
    background: $coolgrey_4;
    color: $coolgrey_1;
  }

  /* nested titlebar */
  .nested .component > .titlebar {
    background: $coolgrey_3;
  }

  /* content-elements titlebar */
  .content-element > .component > .titlebar {
    background: $coolgrey_4;
    color: $coolgrey_1;
  }

  .component > .titlebar {
    height: $titlebar_height;
    overflow: hidden;
  }

  .titlebar-sq {
    height: $titlebar_height;
    width: $titlebar_height;
    line-height: $titlebar_height;
    text-align: center;
    vertical-align: middle;
  }

  .titlebar-sq > .icon {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: $titlebar_height;
  }

  .btn {
    cursor: pointer;
  }

  .accent {
    background: $pink_muted;
  }
  .accent:hover {
    background: $pink;
  }

  .primary {
    background: $coolgrey_4;
  }
  .primary:hover {
    background: $coolgrey_3;
  }

  .secondary {
    background: $coolgrey_4;
  }
  .secondary:hover {
    background: $coolgrey_3;
  }

  .nested .primary, .nested .secondary {
    background: $coolgrey_3;
  }
  .nested .primary:hover, .nested .secondary:hover {
    background: $coolgrey_2;
  }

  .titlebar-txt {
    width: 100%;
  }

  .options {
    // margin: 0 $foundation_gap;
  }

  // Foundation 5 Grid SASS
  @media #{$large-up} {
    .editor > .titlebar,
    .component > .titlebar {
      padding-left: $gap*2;
    }
    .editor > .container,
    .fullbleed > .container {
      padding-left: $gap*2;
      padding-right: $gap*2;
    }
  }

  // Editor styles
  .swatch {
  	width: $gap;
  	height: $gap;
  	display: inline-block;
  	margin-right: $gap/2;
  }

  // Sortable styles
  .sortable-chosen {
    opacity: 0.5;
  }

  .sortable-chosen > paper-material {
    border: 2px dashed $grey;
  }

  .drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  // Admin page styles
  .admin {
    margin: $gap*2;
    padding: $gap*2;
  }

  .drop > * {
    margin-top: $gap/2;
  }

  .select-text {
    @include prefix('user-select', 'text');
  }

  h3 > iron-icon {
    margin-right: $gap;
  }
}

/* Viewer styles only */

body#viewer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  background: $offwhite;

  // viewer layout
  #header,
  #main,
  #content,
  #footer {
    width: 100%;
  }

  #header {
    flex: 0 0 auto;
    height: $header_height;
    /* nested flex layout */
    display: flex;
    flex-direction: row;
  }

  #main {
    flex: 1 1 auto;
    /* nested flex layout with (scrolling) content and footer */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1; // fix for scrollbar getting hidden by paper-material
  }

  #content {
    flex: 1 0 auto;
  }

  #footer {
    flex: 0 0 auto;
    height: $footer_height;
    // pointer-events: none;
  }

  // // Header theme
  #header{
    // @include backgroundSizes($header_bg_width, $header_bg_height, $png_header_navy, 1, $navy, 'jpg', 'repeat-x');
  }

  &.green #header {
  	@include backgroundSizes($header_bg_width, $header_bg_height, $png_header_green, 1, $green, 'jpg', 'repeat');
  }

  &.blue #header {
  	@include backgroundSizes($header_bg_width, $header_bg_height, $png_header_blue, 1, $blue, 'jpg', 'repeat');
  }

  &.pink #header {
  	@include backgroundSizes($header_bg_width, $header_bg_height, $png_header_pink, 1, $pink, 'jpg', 'repeat');
  }

  &.orange #header {
  	@include backgroundSizes($header_bg_width, $header_bg_height, $png_header_orange, 1, $orange, 'jpg', 'repeat');
  }

  &.navy #header {
  	@include backgroundSizes($header_bg_width, $header_bg_height, $png_header_navy, 1, $navy, 'jpg', 'repeat');
  }

  // Footer theme
  #footer {
    // @include backgroundSizes($footer_bg_width, $footer_bg_height, $png_footer_blue, 3, 'transparent', 'png', 'repeat-x');
  }

  &.green #footer {
  	@include backgroundSizes($footer_bg_width, $footer_bg_height, $png_footer_green, 3, 'transparent', 'png', 'repeat-x');
  }

  &.blue #footer {
  	@include backgroundSizes($footer_bg_width, $footer_bg_height, $png_footer_blue, 3, 'transparent', 'png', 'repeat-x');
  }

  &.pink #footer {
  	@include backgroundSizes($footer_bg_width, $footer_bg_height, $png_footer_pink, 3, 'transparent', 'png', 'repeat-x');
  }

  &.orange #footer {
  	@include backgroundSizes($footer_bg_width, $footer_bg_height, $png_footer_orange, 3, 'transparent', 'png', 'repeat-x');
  }

  &.navy #footer {
    @include backgroundSizes($footer_bg_width, $footer_bg_height, $png_footer_blue, 3, 'transparent', 'png', 'repeat-x');
  }

  // iDEA Badge Logo
  & #idea-badge {
    z-index: 2; // display on top of content
    // @include backgroundSizesSVG($badge_width, $badge_height, $svg_badge_navy);
  }

  &.green #idea-badge {
    @include backgroundSizesSVG($badge_width, $badge_height, $svg_badge_green);
  }

  &.blue #idea-badge {
  	@include backgroundSizesSVG($badge_width, $badge_height, $svg_badge_blue);
  }

  &.pink #idea-badge {
  	@include backgroundSizesSVG($badge_width, $badge_height, $svg_badge_pink);
  }

  &.orange #idea-badge {
  	@include backgroundSizesSVG($badge_width, $badge_height, $svg_badge_orange);
  }

  &.navy #idea-badge {
  	@include backgroundSizesSVG($badge_width, $badge_height, $svg_badge_navy);
  }

  // Badge Viewer header
  #garter,
  #title,
  #idea-badge {
    height: $header_height;
  }

  #garter {
    flex: 0 0 auto;
    //@include backgroundSizesSVG($garter_width, $garter_height, $svg_garter, 'transparent', 0, 0);
    @include backgroundSizes($garter_width, $garter_height, $png_garter);
  }

  #title {
    flex: 1 1 auto;
    @include truncate();
  }

  h1#title  {
    font-family: $font_display;
    font-weight: $bold;
    color: $white;
    vertical-align: middle;
    line-height: $header_height;
    padding: 0;
    margin: 0;
    margin-left: $gap;
    margin-right: $badge_width + $gap*2;
  }

  #idea-badge {
    // flex: 0 0 auto;
    position: absolute;
    top: $gap;
    right: $gap;
	}

  // Foundation Responsive Grid layout
  @media #{$medium-only} {
    #header, #garter, #title, #idea-badge {
      height: $header_height * 1.5;
    }
    #garter {
      width: $header_height * 1.5;
      background-size: ($header_height * 1.5) ($header_height * 1.5);
    }
    h1#title {
      line-height: $header_height * 1.5;
      margin-right: $badge_width * 1.5 + $gap*2;
    }
    #idea-badge.resizes {
      width: $badge_width * 1.5;
      height: $badge_height * 1.5;
      background-size: ($badge_width * 1.5) ($badge_height * 1.5);
    }
  }

  @media #{$large-up} {
    #header, #garter, #title, #idea-badge {
      height: $header_height * 2;
    }
    #garter {
      width: $header_height * 2;
      background-size: ($header_height * 2) ($header_height * 2);
    }
    h1#title {
      line-height: $header_height * 2;
      margin-right: $badge_width* 2 + $gap*2;
    }
    #idea-badge.resizes {
      width: $badge_width * 2;
      height: $badge_height * 2;
      background-size: ($badge_width * 2) ($badge_height * 2);
    }
  }

  // Badge Viewer styles

  #section {
    text-align: center;
    font-family: $font_display;
  }

  #progress {
    margin: 0 auto;
  }

  #components {
    padding-top: $gap;
		padding-bottom: $gap;
	}

  #components paper-material {
    text-align: center;
  }

  #components > div > * {
    margin: $gap*2 0;
  }

  .fullbleed {
    background-color: $white;
    padding-bottom: $gap;
  }

  .buttonWrapper{
    padding-top: $gap;
    padding-bottom: $gap*3;
    text-align: center;
  }

  // lists

  .options {
    cursor: move;
    cursor: -webkit-grabbing;

    list-style-position: outside;
    margin: $gap;
  }

  .options li {
    // display: block;
    margin: 2px $gap;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid $grey;
    color: $grey;
  }

  .options li p, .groups li p {
    color: $black;
    margin: 0;
    padding: $gap $gap*4;
  }

  .options .sortable-chosen {
    opacity: 0.5;
  }

  .options .sortable-chosen, .groups .sortable-chosen {
    border: 2px dashed $grey;
  }

  .options .drag-item {
    color: $grey;
    height: 100%;
  }

  .option > #radioLabel, .option > #checkboxLabel {
    margin-right: $gap*3;
  }

  // other viewer styles
  .wrong {
    border: 1px $error solid;
  }

  .hint_error {
      color: #D8000C;
      background-color: #FFBABA;
  }

  // default button styles
  .btn-link {
    display: inline-block;
    color: $white;
    background-color: $navy;
    text-decoration: none;
    border-radius: 3px;
    height: $btn_height;
    line-height: $btn_height;
    vertical-align: middle;
    padding: 0 $gap*2;
    margin: 0;
  }

  .btn-link span {
    margin-right: $gap/2;
  }

  .btn-submit {
    color: $white;
    background-color: $navy;
  }

  // Polymer element styles with custom theme color
  @each $theme, $map in $themes {
    &.#{$theme} {
      .btn-link, paper-button {
        color: white;
        background-color: map-get($map, color);
      }
    }
  }

}
