// browser prefixing eg. @include prefix('hyphens', 'auto');
@mixin prefix($property, $value) {
	@each $prefix in ('-webkit-', '-moz-', '-ms-', '') {
		#{$prefix}#{$property}: #{$value};
	}
}

// truncate text
@mixin truncate($font-size, $lines, $line-height:1.5) {
	display: block;
	width: 100%;
	height: $font-size * $lines * $line-height;
	line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
	// webkit
	display: -webkit-box;
	-webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

//PNG
// background-image url for standard defination, Retina (@2x), and Retina HD (@3x) background images
@mixin backgroundX($imageFile, $resolution:1, $bgColor:"", $imageFormat:"png", $repeat:"no-repeat", $posX:"0px", $posY:"0px") {
	@if $resolution != 1 {
		background: #{$bgColor} url("#{$imageFile}@#{$resolution}x.#{$imageFormat}") #{$repeat} #{$posX} #{$posY};
	} @else {
		background: #{$bgColor} url("#{$imageFile}.#{$imageFormat}") #{$repeat} #{$posX} #{$posY};
	}
}

// generates media queries for up to @3x image resolutions
@mixin backgroundSizes($imageWidth, $imageHeight, $imageFile, $maxResolutions:1, $bgColor:"", $imageFormat:"png", $repeat:"no-repeat", $posX:"0px", $posY:"0px") {
	width: $imageWidth;
	height: $imageHeight;
	@include backgroundX($imageFile);
	background-size: $imageWidth $imageHeight;
	// @2x
	@if $maxResolutions > 1 {
		@include media-2x() {
			@include backgroundX($imageFile, 2, $bgColor, $imageFormat, $repeat, $posX, $posY);
			background-size: $imageWidth $imageHeight;
		}
	}
	// @3x
	@if $maxResolutions > 2 {
		@include media-3x() {
			@include backgroundX($imageFile, 3, $bgColor, $imageFormat, $repeat, $posX, $posY);
			background-size: $imageWidth $imageHeight;
		}
	}
}

//SVG
// background-image url for SVG
@mixin backgroundSizesSVG($imageWidth, $imageHeight, $imageFile, $bgColor:"", $posX:"50%", $posY:"50%", $repeat:"no-repeat") {
	background: #{$bgColor} url("#{$imageFile}.svg") #{$repeat} #{$posX} #{$posY};
	background-size: $imageWidth $imageHeight;
}

// Screen resolution media queries

// @2x - Retina screen
@mixin media-2x() {
	@media (min-resolution: 144dpi), (min-device-pixel-ratio: 1.25), (-webkit-min-device-pixel-ratio: 2) {
		@content;
	}
}

// @3x - Retina HD screen
@mixin media-3x() {
	@media (min-resolution: 288dpi), (min-device-pixel-ratio: 2.25), (-webkit-min-device-pixel-ratio: 3) {
		@content;
	}
}

// Responsive (mixins for Bootstrap 3)

@mixin media-xxs() {
	@media (max-width: 479px) {
		@content;
	}
}

@mixin media-xs() {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin media-md() {
	@media (max-width: 991px) {
		@content;
	}
}

@mixin media-lg() {
	@media (max-width: 992px) {
		@content;
	}
}
