// colour palette
$pink: #E84079;
$white: #FFFFFF;
$navy: #203269;
$orange: #FFA409;
$green: #6BC048;
$blue: #00B3E3;

$bg_green: $white url("#{$path}idea/background/green.png");
$bg_blue: $white url("#{$path}idea/background/blue.png");
$bg_pink: $white url("#{$path}idea/background/pink.png");
$bg_orange: $white url("#{$path}idea/background/orange.png");

// TODO: make themes DRY

body.green #mainToolbar {
	background: $bg_green;
}

body.blue #mainToolbar {
	background: $bg_blue;
}

body.pink #mainToolbar {
	background: $bg_pink;
}

body.orange #mainToolbar {
	background: $bg_orange;
}
